body {
    margin: 0;
    background-color: cyan;
}

#root {
    padding: 65px;
    text-align: center;
}

#root h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
}